* {
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border-bottom: 1px solid black;
}

.active {
    background-color: lightgray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    padding: 1.5em 2em;
    color: black;
    display: block;
}

ul li a:hover {
    background-color: lightgray;
}

ul li a:active {
    background-color:lightgray;
}

#logo img{
    height:5em;
    width: auto;
}

#donate {
    font-weight: bold;
    border: 1px solid black;
    background-color: #f4ad76;
}
#donate a {
    padding: 2.5em 3em;
    text-decoration: none;
    display: block;
    color: black;
}

#donate a:hover {
    background-color: #e39d67;
}

body {
    margin: 0;
    padding: 0;
}

#herobanner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero_cat.jpg);
    max-width: 100%;
    height: 40em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#herobanner_content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

#herobanner_content h2 {
    font-size: 3em;
}
#herobanner_content p {
    margin-bottom: 5em;
    font-size: 1.5em;
}

#hero_cta {
    border: 1px solid black;
    background-color:#f4ad76;
    padding: 2em 4em;
    text-decoration: none;
    color: black;
}
#hero_cta:hover {
    background-color: #e39d67;
}