* {
    box-sizing: border-box;
    font-family: Quicksand, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border-bottom: 1px solid black;
}

.active {
    color: #e39d67;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 1.5em 2em;
    color: black;
    display: block;
}

nav ul li a:hover {
    color: #e39d67;
}

#logo img{
    height:5em;
    width: auto;
}

#donate {
    background-color: #f4ad76;
}
#donate a {
    font-size: 2em;
    padding: 1em 2em;
    text-decoration: none;
    display: block;
    color: black;
}

#donate a:hover {
    background-color: #e39d67;
}

.cta_button {
    padding: 1em 1.5em;
    display: inline-block;
    color: black;
    background-color: #f4ad76;
    border-radius: 8px;
    text-decoration: none;
}
.cta_button:hover {
    background-color: #e39d67;
}

body {
    margin: 0;
    padding: 0;
}

#herobanner{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(images/hero_cat.jpg);
    max-width: 100%;
    height: 40em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#herobanner_content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

#herobanner_content h2 {
    font-size: 3em;
}
#herobanner_content p {
    margin-bottom: 5em;
    font-size: 1.5em;
}

#hero_cta {
    border: 1px solid black;
    background-color:#f4ad76;
    padding: 2em 4em;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}
#hero_cta:hover {
    background-color: #e39d67;
}

/* Main */

main {
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

.banner{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(images/hero_cat.jpg);
    max-width: 100%;
    height: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5em;
}

.banner_content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner_content h2 {
    font-size: 3em;
}
.banner_content p {
    margin-bottom: 5em;
    font-size: 1.5em;
}

section {
    text-align: center;
    padding: 10px;
    margin-bottom: 4em;
    margin-top: 4em;
}

section a {
    color: #e39d67;
    text-decoration: none;
}

.column_container {
    display: flex;
    gap: 5em;
    padding: 1em;
}

.column {
    flex: 1;
}

iframe {
    width: 20em;
    height: 20em;
    padding: 2px;
}

/* Gallery */

.gallery {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 10px;
}

.cat {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 0;
}
.filtr-item {
    width: 25%;
}

.filtr-active {
    text-align: center;
}

.filters {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.filter_group {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.filter_options {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.filter_options li {
    padding: 3px 8px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.filters ul li:hover {
    color: #e39d67;
}


.cat img {
    height: 20em;
    padding-top: 5%;
}

.gallery ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gallery ul li {
}

/* Adoption Form */

.input {
    display: grid;
    grid-template-columns: 25% 75%;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
    gap: 8px;
}

.input label {
    width: 100%;
    text-align: right;
}

.input input {
    width: 80%;
}

form button {
    text-align: center;
}

input#firstName:focus:invalid,
input#lastName:focus:invalid,
input#email:focus:invalid {
    background: #fff8c4;
}

input#firstName:focus:valid,
input#lastName:focus:valid, 
input#username:focus:valid,
input#email:focus:valid,
input#password:focus:valid {
    background: white;
}

#thank_you {
    display: none;
}

/* Footer */

footer {
    background-color: #79eadf;
    width: 100%;
    padding: 1em 5em;
    text-align: center;
}

.copyright {
    font-size: small;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

footer ul li {
    display: inline-block;
    padding-right: 2em;
}

footer ul li a {
    text-decoration: none;
    color: black;
    display: block;
}

footer ul li a:hover {
    color: #f4ad76;
}

#last_updated {
    font-size: x-small;
}

/* Responsiveness */

@media screen and (max-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .filtr-item {
        width: 50%;
    }
    #herobanner_content {
        left: 50%;
        top: 50%;
    }
    .banner_content {
        left: 50%;
        top: 50%;
    }
    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .column_container{
        flex-direction: column;
    }

    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }

    iframe {
        width: 15em;
        height: 100%;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .filtr-item {
        width: 100%;
    }

    .input {
        grid-template-columns: 100%;
    }

    .input label {
        text-align: center;
    }

    .input input {
        width: 100%;
    }

    .filters {
        flex-direction: column;
    }

    .filter_group {
        flex-direction: row;
        justify-content: center;
    }

    .filter_options {
        flex-direction: row;
    }
}


@media screen and (max-width: 450px) {
    #hero_cta {
        padding: 1rem 2rem;
    }
}