* {
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid black;
}

.active {
    background-color: rgb(157, 197, 218);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #79eadf;
}

ul li {
    display: inline-block;
    border: 1px solid black;
}

ul li a {
    text-decoration: none;
    padding: 1.5em 2em;
    color: black;
    display: block;
}

ul li a:hover {
    background-color: rgb(157, 197, 218);
}

ul li a:active {
    background-color:rgb(157, 197, 218);
}

#logo img{
    height:5em;
    width: auto;
}

#donate {
    font-weight: bold;
    border: 1px solid black;
    background-color: #f4ad76;
}
#donate a {
    padding: 2.5em 3em;
    text-decoration: none;
    display: block;
    color: black;
}

#donate a:hover {
    background-color: #e39d67;
}

body {
    margin: 0;
    padding: 0;
}

#herobanner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/hero_cat.jpg);
    max-width: 100%;
    height: 40em;
    background: center no-repeat contain;
    position: relative;
}